!mvn/wrapper/maven-wrapper.jar
!**/sre/main/**
!**/src/test/**
＃＃# STS ＃##
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr
*target
### NetBeans
/nbproject/private/
/nbbuild/
/dist/
nbaist/ /unb-gradle/ build/
# VS Code
vscode/